{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Juegos: Centro Juegos : Categoria Accion</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: black">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <div style="background-color: black; width: 100%">
      <div class="izq">
        <img src="{% static 'img/logo.png' %}" alt="" width="30%" />
      </div>
      <div class="der">
        Av. Las Tranqueras #3352 Las Condes, Santiago Fono: +56 98525662
      </div>
    </div>
    <div style="width: 100%; text-align: center">
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CJ: Juegos Clasicos</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'IND' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'FORM' %}">Formulario Registro</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'ACC' %}">Accion</a></li>
                      <li><a class="dropdown-item" href="{% url 'AVE' %}">Aventura</a></li>
                      <li><a class="dropdown-item" href="{% url 'TER' %}">Terror</a></li>
                      <li><a class="dropdown-item" href="{% url 'CLA' %}">Clasicos</a></li>
                      <li><a class="dropdown-item" href="{% url 'INF' %}">Infantil</a></li>
                    </ul>
                  </li>
                </ul>            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Busqueda..."
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <div style="width: 90%; margin-top: 50px; margin: auto">
      <!-- -----------------------------------------------------------------------------------------------------------------------  -->
      <br />
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <h2>Sonic</h2>
            </button>
          </h2>

          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col-3">
                  <img
                    src="{% static 'img/clasicos/sonic.jpg' %}"
                    style="border-radius: 15px"
                    class="img-fluid"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-9">
                  <strong>Descripcion:</strong> Sonic Adventure es un juego de
                  plataformas en 3D con elementos de acción y rol. Los jugadores
                  controlan a uno de los seis protagonistas antropomórficos
                  mientras se aventuran a derrotar al Doctor Robotnik y su
                  ejército de robots, que buscan las siete Chaos Emeralds y la
                  entidad malvada Chaos
                  <br />
                  <hr />
                  <strong>Precio:</strong><b>$70.000</b>
                  <br />
                  <hr />
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <h2>Street Fighter</h2>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col-3">
                  <img
                    src="{% static 'img/clasicos/sf.jpg' %}"
                    style="border-radius: 15px"
                    class="img-fluid"
                    alt=""
                    srcset=""
                  />
                </div>

                <div class="col-9">
                  <strong>Descripcion:</strong>El objetivo del juego es usar
                  distintos tipos de ataques para agotar los puntos de vida del
                  rival, al mismo tiempo que se usan técnicas defensivas para
                  evitar recibir daño. Los personajes pueden usar ataques cuerpo
                  a cuerpo, proyectiles de energía a distancia o incluso armas.
                  Cada versión de Street Fighter cuenta con diferentes
                  personajes, técnicas, sistemas de combate y modos de juego
                  <br />
                  <hr />
                  <strong>Precio:</strong><b>$70.000</b>
                  <br />
                  <hr />
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <h2>Mega Man</h2>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col-3">
                  <img
                    src="{% static 'img/clasicos/mega.jpeg' %}"
                    style="border-radius: 15px"
                    class="img-fluid"
                    alt=""
                    srcset=""
                  />
                </div>

                <div class="col-9">
                  <strong>Descripcion:</strong>Mega Man, conocido en Japón como
                  Rockman (ロックマン Rokkuman?), es una franquicia de
                  videojuegos creada por Capcom, que tiene como protagonista a
                  Mega Man o a sus contrapartes. Es uno de los personajes más
                  reconocidos de los videojuegos, creado por Akira Kitamura en
                  1987 para el Nintendo Entertainment System. Aunque
                  originalmente se propusieron los nombres de Mighty Kid,
                  Knuckle Kid, y Rainbow Battle Kid por su capacidad de cambiar
                  de color al momento de absorber los poderes de sus enemigos
                  <br />
                  <hr />
                  <strong>Precio:</strong><b>$70.000</b>
                  <br />
                  <hr />
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center; margin-top: 50px">
      <div
        style="
          font-size: xx-large;
          color: wheat;
          font-family: Impact, Haettenschweiler, &quot;Arial Narrow Bold&quot;,
            sans-serif;
        "
      >
        <a style="text-decoration: none" href="{% url 'IND' %}">Inicio</a>
      </div>
    </div>
  </body>
</html>
