{% extends "base.html" %}
{% load static %}
{% block centro %}

    <div style="width: 90%; margin-top: 50px; margin: auto">
      <!-- -----------------------------------------------------------------------------------------------------------------------  -->
      <div class="container">
        <div style="background-color: blue; margin-top: 20px; padding: 1rem">
          <h2>Fornulario de Registro</h2>
        </div>

        <form method="post" style="background-color: white; padding: 1rem" id="target">
        {% csrf_token %}
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Nombre:</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtnombre" name="txtnombre"
                  aria-describedby="nombre"
                  placeholder="ingrese nombre"
                  required
                />
              </div>

              <div class="col">
                <label>Apellido Paterno:</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtape_pat" name="txtape_pat"
                  aria-describedby="ape_paterno"
                  placeholder="apellido paterno"
                  required
                />
              </div>

              <div class="col">
                <label>Apellido Materno:</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtape_mat" name="txtape_mat"
                  aria-describedby="ape_materno"
                  placeholder="apellido materno"
                  required
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Nombre de Usuario:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombreUsuario" name="nombreUsuario"
                  aria-describedby="nombre"
                  placeholder="ingrese nombre de usuario"
                  required
                  
                />
              </div>
              <div class="col">
                <label>Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="password" name="password"
                  aria-describedby="nombre"
                  placeholder="password"
                  required
                  pattern="(?=.*\d)(?=.*[A-Z]).*"
                  minlength="6"
                  maxlength="18"
                />
              </div>
              <div class="col">
                <label>Repetir Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="repetirPassword"
                  name="repetirPassword"
                  aria-describedby="nombre"
                  placeholder="repetir password"
                  required
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Correo Electronico</label>
                <input
                  type="email"
                  class="form-control"
                  id="correoElectronico" name="correoElectronico"
                  placeholder="correo electronico"
                  required
                />
              </div>
              <div class="col">
                <label>Fecha de Nacimiento:</label>
                <input
                  type="date"
                  class="form-control"
                  id="fechaNacimiento" name="fechaNacimiento"
                  placeholder="Password"
                  required
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Direccion de Despacho:</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtdireccion" name="txtdireccion"
                  placeholder="direccion de despacho"
                />
              </div>
            </div>
          </div>

          <button type="submit" id="validar" class="btn btn-primary">
            Enviar
          </button>
          <button type="reset" class="btn btn-primary">Limpiar</button>
        </form>
      </div>
      <div> <h1> {{mensaje}}</h1></div>
      <!-- -------------------------------------------------------------------------------------------------------------------->
      <div style="text-align: center; margin-top: 50px">
        <div
          style="
            font-size: xx-large;
            color: wheat;
            font-family: Impact, Haettenschweiler, &quot;Arial Narrow Bold&quot;,
              sans-serif;
          "
        >
          <a style="text-decoration: none" href="../index.html">Inicio</a>
        </div>
      </div>
    </div>
    <script src="{% static '/js/jquery.js' %}"></script>
    <script>
      $("#target").on("submit", function (event) {
        var pass1 = $("#password").val();
        var pass2 = $("#repetirPassword").val();
        if (pass1 != pass2) {
          alert("contraseñas distintas");
          return false;
        }
        var x = $("#fechaNacimiento").val();
        const fecha = new Date();
        const añoActual = fecha.getFullYear();
        const diferencia = añoActual - parseInt(x.substring(0, 4));
        if (diferencia < 13) {
          alert("Edad menor a 13 años");
          return false;
        }
        $("form").submit(function () {
          alert("Submitted");
        });
        
      });

      $("#validar").on("click", function (event) {
        var pass1 = $("#password").val();
        var pass2 = $("#repetirPassword").val();
        if (pass1 != pass2) {
          alert("contraseñas distintas");
          return false;
        }
      });

      $("#validar2").on("click", function (event) {
        var x = $("#fechaNacimiento").val();
        alert(x.substring(0, 4));
        const fecha = new Date();
        const añoActual = fecha.getFullYear();
        alert(añoActual);
        const diferencia = añoActual - parseInt(x.substring(0, 4));
        alert(diferencia);
        if (diferencia < 13) {
          alert("Edad menor a 13 años");
          return false;
        }
        return true;
      });
    </script>
{% endblock centro %}

