{% extends "base.html" %}
{% load static %}

{% block centro %}


      <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/logo_terror.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Terror</h5>
                  <p class="card-text">El Ente, un ser sobrenatural que proviene de la antigua red de sangre, se despierta de su letargo ...</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/aventura.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aventura</h5>
                  <p class="card-text">Entre las leyendas que nos llegan del pasado remoto,«Hace mucho tiempo existió un reino que ocultaba...</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/accion.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Accion</h5>
                  <p class="card-text">Está diseñado como un juego de jugador contra entorno, con cuatro jugadores que cooperan para alcanzar...</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/retros.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Clasico</h5>
                  <p class="card-text">Sonic Adventure es un juego de plataformas en 3D con elementos de acción y rol. Los jugadores controlan...</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/infantil.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Infantil</h5>
                  <p class="card-text">Roblox tiene una historia muy larga debido a todo lo que ha ocurrido en la comunidad y lo que han ido añadiendo...</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/STBC-blog-opt-1-1024x640.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Star Trek: Bridge Crew</h5>
                  <p class="card-text">El juego se juega a través de cuatro papeles: capitán, oficial táctico, ingeniero y oficial de timón. <p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/maxresdefault.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Leisure Suit Larry</h5>
                  <p class="card-text">Leisure Suit Larry: Reloaded es una aventura gráfica lanzada el 27 de junio de 2013 por N-Fusion Interactive</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/UPUWRVNMGFAQDLCIJIGVZFWJ7A.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">WWE 2K23</h5>
                  <p class="card-text">WWE 2K23 es un videojuego de lucha libre profesional desarrollado por Visual Concepts y publicado por 2K Sports.</p>
                  <a href="#" class="btn btn-primary">Visualizar</a>
                </div>
              </div>
        </div>
      </div>
    </div>
{% endblock centro %}