{% extends "base.html" %}
{% load static %}

{% block centro %}


    <div style="width: 90%; margin-top: 50px;margin: auto;">
     <!-- -----------------------------------------------------------------------------------------------------------------------  -->
      <br>
     <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h2>Robox</h2>
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                  <div class="col-3">
                    <img src="{% static 'img/infantil/roblox.jpg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                  </div>
                  <div class="col-9">
                    <strong>Descripcion:</strong> Roblox tiene una historia muy larga debido a todo lo que ha ocurrido en la comunidad y lo que han ido añadiendo a lo largo de los años. Por eso, en este apartado solo se resaltarán las cosas que más han influenciado a la compañía matriz de Roblox (Roblox Corporation) de manera económica y en la jugabilidad. 
                    <br>
                    <hr>
                    <strong>Precio:</strong><b>$70.000</b>
                    <br>
                    <hr>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <H2>Disneyland Adventures</H2>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
 
                  <div class="col-3">
                    <img src="{% static 'img/infantil/disney.png' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                  </div>

                  <div class="col-9">
                    <strong>Descripcion:</strong>Además de minijuegos basados en varias atracciones de Disneyland, el juego permite a los jugadores tomar fotos de sus avatares en el parque, y conocer y saludar a los personajes. Los personajes aparecen en sus proporciones normales, como si estuvieran animados, en lugar de aparecer como un personaje disfrazado.   
                    <br>
                    <hr>
                    <strong>Precio:</strong><b>$70.000</b>
                    <br>
                    <hr>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>

                </div>              
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <H2>SackBox</H2>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <div class="row">
                
                <div class="col-3">
                  <img src="{% static 'img/infantil/sackboxjpeg.jpeg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                </div>
                
                <div class="col-9">
                  <strong>Descripcion:</strong>ackboy: A Big Adventure es un videojuego de plataformas. A diferencia de las entregas anteriores de LittleBigPlanet con plaqueado 2.5D, presenta una gama de perspectivas y movimiento 3D.2​3​4​Los jugadores controlan a Sackboy en mapas del mundo que dan acceso a una multitud de niveles de plataformas y contenido adicional. A medida que Sackboy completa cada etapa, se desbloquean otras nuevas, lo que le permite progresar más. Todos los niveles contienen objetos coleccionables llamados Orbes de Soñador que deben recolectarse en masa para progresar hasta el final del juego
                  <br>
                  <hr>
                  <strong>Precio:</strong><b>$70.000</b>
                  <br>
                  <hr>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>

              </div>

            </div>
          </div>
          </div>
        </div>
      
        



    </div>
    <div style="text-align: center;margin-top: 50px;">
        <div style="font-size: xx-large;color: wheat;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            <a style="text-decoration: none;" href="{% url 'IND' %}">Inicio</a>
        </div>
    </div>
 {% endblock centro %}