{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Juegos: Centro Juegos : Categoria Accion</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

  </head>
  <body style="background-color: black">
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"

  ></script>

    <div style="background-color: black; width: 100%">
      <div class="izq">
        <img src="{% static 'img/logo.png' %}" alt="" width="30%" />
      </div>
      <div class="der">
        Av. Las Tranqueras #3352 Las Condes, Santiago Fono: +56 98525662
      </div>
    </div>
    <div style="width: 100%; text-align: center">
      <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CJ: Juegos Infantiles</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'IND' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'FORM' %}">Formulario Registro</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'ACC' %}">Accion</a></li>
                      <li><a class="dropdown-item" href="{% url 'AVE' %}">Aventura</a></li>
                      <li><a class="dropdown-item" href="{% url 'TER' %}">Terror</a></li>
                      <li><a class="dropdown-item" href="{% url 'CLA' %}">Clasicos</a></li>
                      <li><a class="dropdown-item" href="{% url 'INF' %}">Infantil</a></li>
                    </ul>
                  </li>
                </ul>            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Busqueda..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <div style="width: 90%; margin-top: 50px;margin: auto;">
     <!-- -----------------------------------------------------------------------------------------------------------------------  -->
      <br>
     <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h2>Robox</h2>
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                  <div class="col-3">
                    <img src="{% static 'img/infantil/roblox.jpg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                  </div>
                  <div class="col-9">
                    <strong>Descripcion:</strong> Roblox tiene una historia muy larga debido a todo lo que ha ocurrido en la comunidad y lo que han ido añadiendo a lo largo de los años. Por eso, en este apartado solo se resaltarán las cosas que más han influenciado a la compañía matriz de Roblox (Roblox Corporation) de manera económica y en la jugabilidad. 
                    <br>
                    <hr>
                    <strong>Precio:</strong><b>$70.000</b>
                    <br>
                    <hr>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <H2>Disneyland Adventures</H2>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
 
                  <div class="col-3">
                    <img src="{% static 'img/infantil/disney.png' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                  </div>

                  <div class="col-9">
                    <strong>Descripcion:</strong>Además de minijuegos basados en varias atracciones de Disneyland, el juego permite a los jugadores tomar fotos de sus avatares en el parque, y conocer y saludar a los personajes. Los personajes aparecen en sus proporciones normales, como si estuvieran animados, en lugar de aparecer como un personaje disfrazado.   
                    <br>
                    <hr>
                    <strong>Precio:</strong><b>$70.000</b>
                    <br>
                    <hr>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>

                </div>              
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <H2>SackBox</H2>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <div class="row">
                
                <div class="col-3">
                  <img src="{% static 'img/infantil/sackboxjpeg.jpeg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                </div>
                
                <div class="col-9">
                  <strong>Descripcion:</strong>ackboy: A Big Adventure es un videojuego de plataformas. A diferencia de las entregas anteriores de LittleBigPlanet con plaqueado 2.5D, presenta una gama de perspectivas y movimiento 3D.2​3​4​Los jugadores controlan a Sackboy en mapas del mundo que dan acceso a una multitud de niveles de plataformas y contenido adicional. A medida que Sackboy completa cada etapa, se desbloquean otras nuevas, lo que le permite progresar más. Todos los niveles contienen objetos coleccionables llamados Orbes de Soñador que deben recolectarse en masa para progresar hasta el final del juego
                  <br>
                  <hr>
                  <strong>Precio:</strong><b>$70.000</b>
                  <br>
                  <hr>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>

              </div>

            </div>
          </div>
          </div>
        </div>
      
        



    </div>
    <div style="text-align: center;margin-top: 50px;">
        <div style="font-size: xx-large;color: wheat;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            <a style="text-decoration: none;" href="{% url 'IND' %}">Inicio</a>
        </div>
    </div>
  </body>
</html>
