{% extends "base.html" %}
{% load static %}
{% block centro %}


    <div style="width: 90%; margin-top: 50px;margin: auto;">
     <!-- -----------------------------------------------------------------------------------------------------------------------  -->
      <br>

     <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h2>Dead by Daylight</h2>
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                  <div class="col-3">
                    <img src="{% static 'img/terror/DeadbyDaylight.jpg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                  </div>
                  <div class="col-9">
                    <strong>Descripcion:</strong>El Ente, un ser sobrenatural que proviene de la antigua red de sangre, se despierta de su letargo cada vez que es convocado por acciones de gran violencia y malicia. Los asesinos, exclusivamente asesinos en serie, son sacados de la realidad y convencidos de cumplir sus órdenes. Para mantener su existencia, El Ente requiere sacrificios y exige que cacen y maten a los supervivientes para que puedan alimentarse de su esperanza y robar un pedazo de su alma al morir.  
                    <br>
                    <hr>
                    <strong>Precio:</strong><b>$70.000</b>
                    <br>
                    <hr>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <H2>The Quarry</H2>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
 
                  <div class="col-3">
                    <img src="{% static 'img/terror/thequarry.jpg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                  </div>

                  <div class="col-9">
                    <strong>Descripcion:</strong> El Ente, un ser sobrenatural que proviene de la antigua red de sangre, se despierta de su letargo cada vez que es convocado por acciones de gran violencia y malicia. Los asesinos, exclusivamente asesinos en serie, son sacados de la realidad y convencidos de cumplir sus órdenes. Para mantener su existencia, El Ente requiere sacrificios y exige que cacen y maten a los supervivientes para que puedan alimentarse de su esperanza y robar un pedazo de su alma al morir. Luego, vuelven a la vida para repetir la prueba intentando interminablemente escapar    
                    <br>
                    <hr>
                    <strong>Precio:</strong><b>$70.000</b>
                    <br>
                    <hr>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>

                </div>              
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <H2>Visage</H2>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <div class="row">
                
                <div class="col-3">
                  <img src="{% static 'img/terror/visage.jpg' %}" style="border-radius: 15px;" class="img-fluid" alt="" srcset="" />
                </div>
                
                <div class="col-9">
                  <strong>Descripcion:</strong>Visage es un videojuego de terror desarrollado por la compañía canadiense SadSquare Studio publicado inicialmente para Microsoft Windows, PlayStation 4 y Xbox One a finales de octubre de 2020. Al igual que Allison Road, este juego está considerado como un sucesor espiritual de P.T., el adelanto fallido de Silent Hills. La compañía realizó campañas de micro mecenazgo a través de portales como Kickstarter y Steam para sacar adelante el proyecto.
                  <br>
                  <hr>
                  <strong>Precio:</strong><b>$70.000</b>
                  <br>
                  <hr>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>

              </div>

            </div>
          </div>
          </div>
        </div>
      
        


      </div>
    </div>

    <div style="text-align: center;margin-top: 50px;">
        <div style="font-size: xx-large;color: wheat;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            <a style="text-decoration: none;" href="{% url 'IND' %}">Inicio</a>
        </div>
    </div>
 
 
{% endblock centro %}